name: Automated API tests using Postman CLI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          for i in {1..2}; do
            postman collection run "28228579-3395c8fc-f606-42d9-a513-ec3ae48a889c"
          done
      - name: Logout
        run: postman logout ${{ secrets.POSTMAN_API_KEY }}
