name: Sarthi Preview Environments
on:
  # pull_request_target to support PRs from forks
  pull_request_target:
    types: [ opened, closed, reopened, synchronize ]
  # delete preview environments when branches are deleted
  delete:

jobs:
  sarthi_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Sarthi
        uses: tushar5526/sarthi-deploy@main
        with:
          compose_file: docker-compose.yml # override this with the compose file location in your project
          sarthi_server_url: ${{ secrets.SARTHI_SERVER_URL }} # Sarthi API Backend URL prompted after running the installation script
          sarthi_secret: ${{ secrets.SARTHI_SECRET }} # Secret text generated while setting up the server
